body {
    margin: 20px 10px;
    width: 1100px;
}

.header {
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
    background-color: #ffffff;
    padding: 0 50px;
    border-bottom: 1px solid #e4e3e2;
}

/* タイトルのスタイル */
.headerTitle {
    color: #99887a;
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    color: #99887a;
    font-size: 25px;
    text-align: center;
    margin: 20px auto;
}

.inputItems {
    width: 700px;
    margin: auto;
    text-align: center;
    color: #99887a;
}

.inputRow {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.form__error {
    width: 400px;
    color: red;
    display: flex;
    align-items: center;
}

.itemTitle {
    font-size: 18px;
}

.inputArea {
    width: 400px;
    display: flex;
    align-items: center;
}

.input-name {
    width: 200px;
    padding: 5px;
    color: #99887a;
    border: 1px solid #e4e4e4;
    background-color: #f4f4f4;
    margin-right: 20px;
}

.input-gender {
    border: 1px solid #99887a;
    align-items: center;
    margin-right: 5px;
}

.input-gender {
    font-size: 18px;
    border: 1px solid #99887a;
    align-items: center;
    margin-right: 5px;
    accent-color: #8b7969
}

.input-gender:nth-child(n+2) {
    margin-left: 40px;
}

.input-email {
    width: 100%;
    padding: 5px;
    color: #99887a;
    border: 1px solid #e4e4e4;
    background-color: #f4f4f4;
}

.input-tel {
    width: 30%;
    padding: 5px;
    color: #99887a;
    border: 1px solid #e4e4e4;
    background-color: #f4f4f4;
}

.hyphen {
    margin: 0px auto;
}

.input-address {
    width: 100%;
    padding: 5px;
    color: #99887a;
    border: 1px solid #e4e4e4;
    background-color: #f4f4f4;
}

.option-query {
    width: 50%;
    padding: 5px;
    color: #99887a;
    border: 1px solid #e4e4e4;
    background-color: #f4f4f4;
}

.text-query {
    width: 400px;
    padding: 5px;
    color: #99887a;
    border: 1px solid #e4e4e4;
    background-color: #f4f4f4;
}

.buttonArea {
    text-align: center;
    margin: 30px auto;
}

.confirmButton {
    display: inline-block;
    color: white;
    background-color: #8b7969;
    width: 120px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid white;
}