.header {
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
    background-color: #ffffff;
    padding: 0 50px;
}

/* タイトルのスタイル */
.headerTitle {
    color: #99887a;
    font-size: 30px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* ボタンのスタイル */
.loginButton {
    width: 80px;
    text-align: center;
    color: #dfd0c3;
    background-color: #f6f6f6;
    cursor: pointer;
    text-decoration: none;
    padding: 3px;
    border: 1px solid #dfd0c3;
    position: absolute;
    right: 50px;
}

body {
    background-color: #f1ece6;
}

.title {
    text-align: center;
    font-size: 25px;
    color: #99887a;
    padding: 25px 0px;
}

.contents {
    max-width: 500px;
    margin: auto;
    background-color: #ffffff;
    border: 2px solid #ddd5ce;
    border-radius: 3px;
}

.items {
    color: #907f70;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 3px;
    margin-left: 15%;

}

.form_inputText {
    text-align: center;
}

.form_inputText input {
    width: 70%;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.registerButton {
    margin: 20px auto;
    text-align: center;
}

.registerButton button {
    width: 60px;
    padding: 5px;
    color: #ffffff;
    background-color: #82756a;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.form__error {
    color: red;
    margin-left: 80px;
}